* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.th__image {
  min-height: 500px;
  width: 100%;
}
.container__fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.th__tabs {
  display: flex;
}
.th__tab__item {
  padding: 20px;
  color: #919191;
  border: 2px solid #e6f8fd;
  width: 100%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.th__tab__item:last-child {
  border-radius: 0px 4px 4px 0px;
}
.th__tab__item:first-child {
  border-radius: 4px 0px 0px 4px;
}
.th__tab__item.active {
  color: #242424;
  background: #e6f8fd;
  transition: 0.2s linear;
}
.th__tab__item:first-child.active {
  border-right: none;
}
.th__tab__item:last-child.active {
  border-left: none;
}
.th__about__links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  position: sticky;
}
.about__link__item {
  padding: 10px 36px;
}
.about__link__item a {
  text-decoration: none;
  color: #7e7e7e;
}
.about__link__item a.active {
  text-decoration: none;
  color: #242424;
}
.th__about__content {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #343434;
}
.th__about__content .header__1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #242424;
  display: block;
  margin: 90px 0 30px 0;
}
.th__accordion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.th__accordion__item {
  margin-bottom: 50px;
  padding-right: 20px;
}
.th__accordion__item,
.th__accordion__content {
  flex-basis: 50%;
  display: block;
  max-width: 500px;
}
.th__accordion__item__title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #006ec7;
}
.th__accordion__item__title i {
  font-size: 18px;
  color: #585858;
}
.th__accordion__content {
  display: none;
  padding: 35px 0;
}
.th__on__board {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.th__on__board .th__on__board__item {
  flex-basis: 50%;
  padding: 20px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.service__on__board {
  max-width: 600px;
  margin: 50px auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #919191;
}
.service__on__board__accordeon__block__title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #7e7e7e;
  margin-bottom: 30px;
}
.service__on__board__accordeon__block__sub__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #343434;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.service__on__board__accardeon__item__content {
  display: none;
  padding-bottom: 30px;
}
.service__on__board__accordeon__block__sub__title i {
  color: #bbbbbb;
}
#crew {
  text-align: center;
}
.crew__items {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
}
.crew__item {
  max-width: 223px;
  padding: 20px;
}
.crew__item__photo img {
  width: 137px;
  height: 137px;
  border-radius: 100px;
}
.crew__item__position {
  margin: 24px 0 16px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #242424;
}
.crew__item__fullname {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #7e7e7e;
  line-height: 22px;
}
.conventions {
  display: flex;
  align-items: center;
  margin-top: 35px;
  flex-wrap: wrap;
  padding-bottom: 24px;
  border-bottom: 1px solid #e3e3e3;
}
.conventions__item {
  margin-right: 3rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #343434;
  display: flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
}
.conventions__item:first-child {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.conventions__item .conventions__circle {
  border-radius: 100px;
  border: 2px solid #006ec7;
  height: 40px;
  width: 40px;
  text-align: center;
  margin-right: 20px;
  vertical-align: middle;
  line-height: 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #343434;
}
.decks {
  padding-bottom: 24px;
  border-bottom: 1px solid #e3e3e3;
}
.deck__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #343434;
  margin: 24px 0 16px 0;
}
.deck {
  height: 150px;
  background-image: url("img/paluba1.png");
  background-repeat: no-repeat;
}
.deck1 .deck {
  background-position: 0 -17px;
}
.deck2 .deck {
  background-position: 0 -184px;
}
.deck3 .deck {
  background-position: 0 -350px;
}
.deck4 .deck {
  background-position: 0 -515px;
}
.cabin__types {
  display: flex;
  margin-top: 50px;
}
.cabin__types__title {
  width: 25%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #343434;
}
.cabin__types__list {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}
.cabin__types__list > div {
  width: 33%;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
}
.cabin__types__list .type__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #343434;
}
.cabin__types__list .type__rect {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}
.cabin__types__list .a4h .type__rect {
  background-color: #13243e;
}
.cabin__types__list .a2__comfort .type__rect {
  background: #72ffff;
}
.cabin__types__list .a1__plus__balcon .type__rect {
  background: #ffb341;
}
.cabin__types__list .a2h .type__rect {
  background: #295aa3;
}
.cabin__types__list .a1 .type__rect {
  background: #bfffff;
}
.cabin__types__list .pol__lux__balcon__b .type__rect {
  background: #ff8731;
}
.cabin__types__list .a4__3 .type__rect {
  background: #00b3ff;
}
.cabin__types__list .pol__lux .type__rect {
  background: #fcff63;
}
.cabin__types__list .pol__lux__balcon__a .type__rect {
  background: #ff4d00;
}
.cabin__types__list .a2__3 .type__rect {
  background: #00d7e4;
}
.cabin__types__list .a1__comfort .type__rect {
  background: #ffe454;
}
.cabin__types__list .lux__balcon .type__rect {
  background: #c00202;
}
.cabin__filter {
  display: flex;
  justify-content: space-evenly;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #7e7e7e;
  background: #e6f8fd;
  padding: 34px 80px;
  align-items: center;
}
.cabin__filter > div:first-child {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000;
}
.filter__btn {
  background: #006ec7;
  border-radius: 4px;
  padding: 14px 18px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}
.cabins__list {
  display: flex;
  justify-content: space-between;
}
.cabins__list .cabin__item {
  background: #ffffff;
  box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12),
    0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  padding: 16px;
  width: 33%;
}
.photo__gallery__large img {
  width: 100%;
  height: 214px;
  margin-bottom: 10px;
}
.photo__gallery__thumbs {
  display: flex;
  justify-content: space-between;
}
.photo__gallery__thumb__item {
  width: 24%;
}
.photo__gallery__thumb__item img {
  height: 72px;
}
.photo__gallery__thumb__item img,
.photo__gallery__large img {
  object-fit: cover;
  width: 100%;
}
@media (max-width: 960px) {
  .cabins__list .cabin__item {
    width: 49%;
  }
}
.cabin__item__type {
  margin: 24px 0 16px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #242424;
}
.cabin__item__short__desc {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #343434;
  margin-bottom: 10px;
}
.cabin__item__desc {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #7e7e7e;
}
.cabin__item__desc > div:last-child {
  visibility: hidden;
}
.cabin__item__desc__btn {
  font-size: 16px;
  cursor: pointer;
}
.cabin__item__desc__btn i {
  color: #006ec7;
  margin-left: 10px;
}
#cboxOverlay {
  background: rgba(0, 0, 0, 1);
}
