* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.th__image {
  min-height: 500px;
  width: 100%;
  position: relative;
}
.th__title {
  max-width: 500px;
  position: absolute;
  top: 275px;
  right: 293px;
}
.th__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #fff;
}
.th__short__desc {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  max-width: 70%;
  margin-top: 24px;
}
.container__fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.th__tabs {
  display: flex;
}
.th__tab__item {
  padding: 20px;
  color: #7e7e7e;
  width: 100%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  font-feature-settings: "pnum" on, "lnum" on;
}
.th__tab__item:last-child {
  border-radius: 0px 4px 4px 0px;
}
.th__tab__item:first-child {
  border-radius: 4px 0px 0px 4px;
}
.th__tab__item.active {
  color: #006ec7;
  transition: 0.2s linear;
}
.th__tab__item:first-child.active {
  border-right: none;
}
.th__tab__item:last-child.active {
  border-left: none;
}
.th__about__links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}
.about__link__item {
  margin: 10px auto;
}
.about__link__item a {
  text-decoration: none;
  color: #343434;
}
.about__link__item a.active {
  text-decoration: none;
  border-bottom: 1px solid #343434;
}
.th__about__content {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #343434;
}
.about__th__blocks__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__th__block__item {
  width: 40%;
  color: #343434;
}
@media (max-width: 960px) {
  .about__th__block__item {
    width: 47%;
  }
}
@media (max-width: 540px) {
  .about__th__block__item {
    width: 80%;
    margin: 0 auto;
  }
}
.about__th__block__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  margin: 16px 0;
}
.about__th__block__desc {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
div[data-tab-content="th-cruises"] {
  display: none;
}
.th__about__content .header__1,
.th__cruises__content .header__1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #242424;
  display: block;
  margin: 90px 0 30px 0;
  font-feature-settings: "pnum" on, "lnum" on;
}
.th__accordion {
  max-width: 600px;
  margin: 0 auto;
}
.th__accordion__item {
  margin-bottom: 50px;
  padding-right: 20px;
}
.th__accordion__item,
.th__accordion__content {
  display: block;
}
.th__accordion__item__title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #006ec7;
}
.th__accordion__item__title i {
  font-size: 18px;
  color: #585858;
}
.th__accordion__item__title > div:first-child img {
  margin-right: 15px;
  height: 40px;
}
.th__accordion__content {
  display: none;
  padding: 35px 0;
}
.th__on__board {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.th__on__board .th__on__board__item {
  flex-basis: 15%;
  padding: 20px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  font-feature-settings: "pnum" on, "lnum" on;
}
.th__on__board .th__on__board__item i {
  color: #006ec7;
  font-size: 27px;
  margin-right: 15px;
}
.th__on__board__item .on__board__tooltip {
  position: absolute;
  display: none;
}
.service__on__board {
  max-width: 600px;
  margin: 50px auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #919191;
}
.service__on__board__accordeon__block__title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #7e7e7e;
  margin-bottom: 30px;
}
.service__on__board__accordeon__block__sub__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #343434;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-feature-settings: "pnum" on, "lnum" on;
}
.service__on__board__accardeon__item__content {
  display: none;
  padding-bottom: 30px;
}
.service__on__board__accordeon__block__sub__title i {
  color: #bbbbbb;
}
#crew {
  text-align: center;
}
.crew__items {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
}
.crew__item {
  max-width: 223px;
  padding: 20px;
}
.crew__item__photo img {
  width: 137px;
  height: 137px;
  border-radius: 100px;
}
.crew__item__position {
  margin: 24px 0 16px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #242424;
  font-feature-settings: "pnum" on, "lnum" on;
}
.crew__item__fullname {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #7e7e7e;
  line-height: 22px;
}
.conventions {
  display: flex;
  align-items: center;
  margin-top: 35px;
  flex-wrap: wrap;
  padding-bottom: 24px;
  border-bottom: 1px solid #e3e3e3;
}
.conventions__item {
  margin-right: 3rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #343434;
  display: flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
}
.conventions__item:first-child {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  font-feature-settings: "pnum" on, "lnum" on;
}
.conventions__item .conventions__circle {
  border-radius: 100px;
  border: 2px solid #006ec7;
  height: 40px;
  width: 40px;
  text-align: center;
  margin-right: 20px;
  vertical-align: middle;
  line-height: 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #343434;
}
.decks {
  padding-bottom: 24px;
  border-bottom: 1px solid #e3e3e3;
}
.deck__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #343434;
  margin: 24px 0 16px 0;
  font-feature-settings: "pnum" on, "lnum" on;
}
.deck {
  height: 150px;
  background-image: url("img/paluba1.png");
  background-repeat: no-repeat;
}
.deck1 .deck {
  background-position: 0 -17px;
}
.deck2 .deck {
  background-position: 0 -184px;
}
.deck3 .deck {
  background-position: 0 -350px;
}
.deck4 .deck {
  background-position: 0 -515px;
}
.cabin__types {
  display: flex;
  margin-top: 50px;
}
.cabin__types__title {
  width: 25%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #343434;
  font-feature-settings: "pnum" on, "lnum" on;
}
.cabin__types__list {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}
.cabin__types__list > div {
  width: 33%;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
}
.cabin__types__list .type__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #343434;
}
.cabin__types__list .type__rect {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}
.cabin__types__list .a4h .type__rect {
  background-color: #13243e;
}
.cabin__types__list .a2__comfort .type__rect {
  background: #72ffff;
}
.cabin__types__list .a1__plus__balcon .type__rect {
  background: #ffb341;
}
.cabin__types__list .a2h .type__rect {
  background: #295aa3;
}
.cabin__types__list .a1 .type__rect {
  background: #bfffff;
}
.cabin__types__list .pol__lux__balcon__b .type__rect {
  background: #ff8731;
}
.cabin__types__list .a4__3 .type__rect {
  background: #00b3ff;
}
.cabin__types__list .pol__lux .type__rect {
  background: #fcff63;
}
.cabin__types__list .pol__lux__balcon__a .type__rect {
  background: #ff4d00;
}
.cabin__types__list .a2__3 .type__rect {
  background: #00d7e4;
}
.cabin__types__list .a1__comfort .type__rect {
  background: #ffe454;
}
.cabin__types__list .lux__balcon .type__rect {
  background: #c00202;
}
.cabin__filter {
  display: flex;
  justify-content: space-evenly;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #7e7e7e;
  background: #e6f8fd;
  padding: 34px 80px;
  align-items: center;
  flex-wrap: wrap;
}
.cabin__filter > div {
  margin-bottom: 10px;
  text-align: center;
}
.cabin__filter > div:first-child {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000;
}
.filter__btn {
  background: #006ec7;
  border-radius: 4px;
  padding: 14px 18px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}
.cabins__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 24px;
}
.cabins__list .cabin__item {
  background: #ffffff;
  box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12),
    0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  padding: 16px 0 24px 0;
  width: 31%;
  margin-bottom: 1em;
}
.cabin__photo__gallery,
.cabin__item__type,
.cabin__item__short__desc,
.cabin__item__desc__btn__show,
.cabin__item__full__desc {
  padding: 0 16px;
}
.photo__gallery__large img {
  width: 100%;
  height: 214px;
  margin-bottom: 10px;
}
.photo__gallery__thumbs {
  display: flex;
  justify-content: space-between;
}
.photo__gallery__thumb__item {
  width: 24%;
}
.photo__gallery__thumb__item img {
  height: 72px;
}
.photo__gallery__thumb__item img,
.photo__gallery__large img {
  object-fit: cover;
  width: 100%;
}
@media (max-width: 960px) {
  .cabins__list .cabin__item {
    width: 49%;
  }
}
.cabin__item__type {
  margin: 24px 0 16px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #242424;
  font-feature-settings: "pnum" on, "lnum" on;
}
.cabin__item__short__desc {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #343434;
  margin-bottom: 10px;
}
.cabin__item__desc {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #7e7e7e;
  position: relative;
}
.cabin__item__desc .cabin__item__full__desc {
  position: absolute;
  display: none;
  background-color: #fff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #7e7e7e;
  box-shadow: 0px 6px 14px -6px rgb(24 39 75 / 12%),
    0px 10px 32px -4px rgb(24 39 75 / 10%);
  z-index: 2;
}
.cabin__item__full__desc li,
.th__accordion__content li {
  list-style-position: inside;
}
.cabin__item__desc__btn__show,
.cabin__item__desc__btn__hide,
.th__sale__desc__hide {
  font-size: 16px;
  cursor: pointer;
}
.cabin__item__desc__btn__show i,
.cabin__item__desc__btn__hide i,
.th__sale__desc__hide i {
  color: #006ec7;
  margin-left: 10px;
}
.cabin__item__desc__btn__hide,
.th__sale__desc__hide {
  margin: 20px 0;
}
.th__photo__gallery__list {
  margin-top: 50px;
}
.th__photo__gallery__item {
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin: 0 10px;
}
.fa-circle-chevron-right,
.fa-circle-chevron-left {
  color: #000;
}
.th__sales__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.th__sales__title > div:last-child {
  margin: 90px 0 30px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #343434;
  font-feature-settings: "pnum" on, "lnum" on;
}
.th__sales__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* старый вид скидок */
/* .th__sale__item {
  width: 25%;
  cursor: pointer;
  position: relative;
  margin-bottom: 3em;
}
@media (max-width: 960px) {
  .th__sale__item {
    width: 30%;
  }
}
@media (max-width: 540px) {
  .th__sale__item {
    width: 40%;
  }
}
.th__sale__item .th__sale__item_icon {
  font-size: 5rem;
  color: #0590ff;
}
.th__sale__item .th__sale__item_title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #242424;
  margin: 29px 0 8px 0;
}
.th__sale__item .th__sale__item_desc {
  position: absolute;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #7e7e7e;
  background-color: #fff;
  z-index: 2;
  padding: 0 2%;
}
.th__sale__item_icon,
.th__sale__item_title {
  padding: 0 2%;
}
.th__sale__item_desc.th__sale__item_desc__hide {
  overflow: hidden;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    to bottom,
    #7e7e7e,
    #7e7e7e,
    rgba(0, 0, 0, 0)
  );
  height: 44px;
  z-index: 1;
} */
/* старый вид скидок */

.th__sale__item {
  padding: 24px;
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("img/bg_sale.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 163px;
  width: 32%;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
@media (max-width: 960px) {
  .th__sale__item {
    width: 49%;
  }
}
@media (max-width: 540px) {
  .th__sale__item {
    width: 99%;
  }
}
.th__sale__item__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #242424;
  font-feature-settings: "pnum" on, "lnum" on;
}
.th__sale__item__period {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #343434;
  max-width: 250px;
}
#cboxOverlay {
  background: rgba(0, 0, 0, 1);
}
/* .slick-arrow::before {
  color: #000;
} */
.slick-arrow {
  position: absolute;
  top: 50%;
  display: block;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  color: #fff;
  z-index: 1;
  background-color: rgba(128, 128, 128, 0.7);
  padding: 7px 10px;
  border-radius: 50%;
}
.slick-arrow i {
  font-size: 18px;
}
.slick__prev {
  left: 25px;
}
.slick__next {
  right: 25px;
}
.cruise__year__filter {
  display: flex;
  flex-wrap: wrap;
}
.cruise__year__filter > div {
  padding: 13px 81px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #7e7e7e;
  cursor: pointer;
  font-feature-settings: "pnum" on, "lnum" on;
}
.cruise__year__filter > div.active {
  background: #e6f8fd;
  border-radius: 4px;
  color: #000;
}
.cruise__other__filter {
  margin: 24px 0 16px 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #7e7e7e;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.departure__from,
.cruise__list__view {
  display: flex;
  flex-wrap: wrap;
}
.departure__from__dropdown,
.cruise__list__view__dropdown {
  position: relative;
}
.departure__from__dropdown__title,
.cruise__list__view__dropdown__title {
  padding: 0 16px;
  cursor: pointer;
}
.departure__from__dropdown__title i,
.cruise__list__view__dropdown__title i {
  margin-left: 12px;
}
.departure__from__dropdown__list,
.cruise__list__view__dropdown__list {
  display: none;
  position: absolute;
  background-color: #fff;
  padding-top: 20px;
}
.departure__from__dropdown__list__item,
.cruise__list__view__dropdown__list__item {
  padding: 10px 16px;
  cursor: pointer;
}
.departure__from__dropdown__list__item:hover {
  background: #e6f8fd;
}
.cruise__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cruise__list__item {
  width: 32%;
  box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12),
    0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  padding: 16px 16px 24px 16px;
  margin: 0 auto;
}
@media (max-width: 960px) {
  .cruise__list__item {
    width: 45%;
  }
}
@media (max-width: 540px) {
  .cruise__list__item {
    width: 89%;
  }
}
.cruise__list__item__photo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 207px;
  position: relative;
}
.cruise__list__item__photo img {
  position: absolute;
  top: 12px;
  left: 12px;
}
.number__places__left {
  background-color: #d42e12;
  color: #fff;
  padding: 7px 11px;
  text-align: center;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
}
.cruise__list__item__photo .number__places__left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.cruise__list__item__name {
  margin: 8px 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #bbbbbb;
}
.cruise__list__item__route {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 8px;
}
.cruise__list__item__date__days {
  display: flex;
  flex-wrap: wrap;
}
.cruise__list__item__date__days .cruise__list__item__date {
  margin-bottom: 8px;
  margin-right: 8px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #7e7e7e;
}
.cruise__list__item__date__days .cruise__list__item__days {
  margin-bottom: 8px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #bbbbbb;
}
.cruise__list__item__price .item__price__tooltip {
  display: none;
  position: absolute;
  background-color: #fff;
  max-width: 200px;
  width: 200px;
  left: -85px;
  bottom: 21px;
  box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12),
    0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  padding: 10px 15px;
}
.cruise__list__item__price__sales {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cruise__list__item__price__sales .cruise__list__item__price {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #242424;
  font-feature-settings: "pnum" on, "lnum" on;
  margin: auto 0;
}
.cruise__list__item__price__sales .cruise__list__item__price i {
  font-size: 16px;
  color: #7e7e7e;
  margin-left: 8px;
  position: relative;
}
.cruise__list__item__price__sales .cruise__list__item__sales {
  display: flex;
  flex-wrap: wrap;
}
.cruise__list__item__price__sales .cruise__list__item__sales > div {
  padding-left: 10px;
}
.cruise__list__item__btn {
  background-color: #006ec7;
  color: #fff;
  text-align: center;
  padding: 14px 30px;
  margin-top: 48px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
}
